// 1. Catch me if you can
.cmiyc {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/84/");
}

// 2. Auris - Frequenz des Todes
.auris_fdt {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/82/");
}

// 3. Auris - Der Fall Hegel
.auris_dfh {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/81/");
}

// 4. Morgen, Ihr Luschen!
.morgen-ihr-luschen {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/86/");
}

// 5. Bruce Allmächtig
.bruce {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/92/");
}

// 6. The Gangster, The Cop, The Devil
.the-gcd {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/85/");
}

// 7. The Terminal
.the-terminal {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/83/");
}

// 8. Contra
.contra {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/98/");
}

// 9. Ohne Limit
.ohne-limit {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/87/");
}

// 10. The Unforgivable
.the-unforgivable {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/89/");
}

// 11. Inglourious Basterds
.inglourious {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/93/");
}

// 12. The Guest
.the-guest {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/88/");
}

// 13. Die Truman Show
.tm-show {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/97/");
}

// 14. Barbie
.barbie {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/91/");
}

// 15. Lucky Number Slevin
.lns {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/94/");
}

// 16. Up in the Air
.uita {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/95/");
}

// 17. Wild Tales
.wild-tales {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/96/");
}

// 18. A Million Ways to die in the West
.amwtditw {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/102/");
}

// 19. Demon Slayer: Kimetsu no Yaiba
.demon-slayer_film-1 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/105/");
}

// 20. Bullyparade - Der Film
.bullyparade {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/107/");
}

// 21. Perfect Days
.perfect-days {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/100/");
}

// 22. Homefront
.homefront {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/103/");
}

// 23. Who Am I
.who-am-i {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/104/");
}

// 24. Der Nachname
.der-nachname {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/109/");
}

// 25. 1917
.neunzehn {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/112/");
}

// 26. El Camino
.el-camino {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/108/");
}

// 27. Wonka
.wonka {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/111/");
}

// 28. Interstellar
.interstellar {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/110/");
}

// 29. Oppenheimer
.oppenheimer {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/113/");
}

// 30. Nobody
.nobody {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/114/");
}

// 31. The Social Network
.the-social-network {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/115/");
}

// 32. The Founder
.the-founder {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/116/");
}

// 33. Aquaman: The Lost Kingdom
.am-tlk {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/117/");
}

// 34. Aquaman
.am {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/118/");
}

// 35. Blade II
.blade2 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/119/");
}

// 36. Blade Trinity
.blade3 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/120/");
}

// 37. Blade
.blade {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/121/");
}

// 38. Der Herr der Ringe - Die zwei Türme
.dhdr-dzt {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/122/");
}

// 39. Der Herr der Ringe - Die Gefährten
.dhdr-dg {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/123/");
}

// 40. Der Herr der Ringe - Die Rückkehr des Königs
.dhdr-drdk {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/124/");
}

// 41. Dune
.dune {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/126/");
}

// 42. Dune Part Two
.dune2 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/125/");
}

// 43. The Fast and the Furious
.fuf1 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/129/");
}

// 44. Fast & Furious 5
.fuf5 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/130/");
}

// 45. 2 Fast 2 Furious
.fuf2 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/131/");
}

// 46. Fast & Furious 9
.fuf9 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/137/");
}

// 47. Fast & Furious 10
.fuf10 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/136/");
}

// 48. The Fast and the Furious: Tokyo Drift
.fuf3 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/135/");
}

// 49. The Fast & Furious: Neues Modell. Originalteile
.fuf4 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/127/");
}

// 50. Fast & Furious 7
.fuf7 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/128/");
}

// 51. Fast & Furious: Hobbs & Shaw
.fuf_hus {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/132/");
}

// 52. Fast & Furious 8
.fuf8 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/133/");
}

// 53. Fast & Furious 6
.fuf6 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/134/");
}

// 54. Ghost Rider
.gr {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/139/");
}

// 55. Ghost Rider 2
.gr2 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/138/");
}

// 56. Kingsman - The Secret Service
.kingsman_tss {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/141/");
}

// 57. Kingsman - The Golden Circle
.kingsman_tgc {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/140/");
}

// 58. Magic Mike´s The Last Dance
.magic-mike-tld {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/142/");
}

// 59. Magic Mike
.magic-mike {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/143/");
}

// 60. Magic Mike XXL
.magic-mike-xxl {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/144/");
}

// 61. Blind-Side: Die große Chance
.blind-side {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/90/");
}

// 62. Déjà Vu - Wettlauf gegen die Zeit
.dejavu {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/99/");
}

// 63. Lucy und der traurige Mann
.ludtm {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/101/");
}

// 64. Superhero Movie
.superhero {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/106/");
}
