// 1. Alex Rider
.alex-rider {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/23/");
}

// 2. Chuck
.chuck {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/25/");
}

// 3. Dragonball GT
.dbgt {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/43/");
}

// 4. Fairy Tail
.fairy-tail {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/27/");
}

// 5. House
.house {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/30/");
}

// 6. Avatar - Der Herr der Elemente
.avatar-dhde {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/29/");
}

// 7. Barry
.barry {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/31/");
}

// 8. Criminal Minds
.criminal-minds {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/39/");
}

// 9. 2 Broke Girls
.two-broke-girls {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/35/");
}

// 10. Eine Billion Dollar
.eine-billion-dollar {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/36/");
}

// 11. Die großen Mythen
.dgm {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/22/");
}

// 12. Dragonball
.db {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/44/");
}

// 13. Drawn Together
.drawn-together {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/28/");
}

// 14. Prison Break
.prison-break {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/33/");
}

// 15. Law & Order: Criminal Intent
.luo-ci {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/34/");
}

// 16. Pokemon
.pokemon {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/26/");
}

// 17. Dragonball Z
.dbz {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/32/");
}

// 18. One Piece (1999)
.one-piece_anime {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/24/");
}

// 19. Chernobly
.chernobly {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/41/");
}

// 20. Criminal Minds: Beyond Borders
.criminal-minds_bb {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/45/");
}

// 21. Person of Interest
.person-of-interest {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/40/");
}

// 22. Game of Thrones
.got {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/21/");
}

// 23. The Walking Dead: Daryl Dixon
.twd_dd {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/55/");
}

// 24. Halo
.halo {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/50/");
}

// 25. The Winchesters
.the-flash {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/37/");
}

// 26. Naruto
.naruto {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/48/");
}

// 27. The Mentalist
.the-mentalist {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/38/");
}

// 28. Lie to Me
.ltm {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/49/");
}

// 29. Demon Slayer: Kimetsu no Yaiba
.demon-slayer_serie {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/67/");
}

// 30. Breaking Bad
.breaking-bad {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/42/");
}

// 31. Brooklyn Nine Nine
.brooklyn-99 {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/68/");
}

// 32. House of the Dragons
.house-of-the-dragons {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/60/");
}

// 33. Law & Order: Special Victims Unit
.luo-svu {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/53/");
}

// 34. Loki
.loki {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/56/");
}

// 35. The Boys
.the-boys {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/51/");
}

// 36. The Rookie
.the-rookie {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/47/");
}

// 37. Der Herr der Ringe: Die Ringe der Macht
.dhdr-drdm {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/65/");
}

// 38. One Piece (2023)
.one-piece_serie {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/46/");
}

// 39. Lucifer
.lucifer {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/64/");
}

// 40. Law & Order: Organized Crimes
.luo-oc {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/66/");
}

// 41. DARK
.dark {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/77/");
}

// 42. Supernatural
.supernatural {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/61/");
}

// 43. NCIS
.ncis {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/58/");
}

// 44. The Rookie: Feds
.the-rookie-feds {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/54/");
}

// 45. Sherlock
.sherlock {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/52/");
}

// 46. The Walking Dead: The One Who Lives
.twd_towl {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/62/");
}

// 47. Gen V
.gen-v {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/74/");
}

// 48. The Witcher
.the-witcher {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/73/");
}

// 49. The Winchesters
.the-winchesters {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/75/");
}

// 50. Timeless
.timeless {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/79/");
}

// 51. The Last of Us
.tlou {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/57/");
}

// 52. Resident Alien
.resisdent-alien {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/69/");
}

// 53. Dan Browns The Lost Symbol
.dan-browns-tls {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/80/");
}

// 54. Tom Clany´s Jack Ryan
.tc_jack-ryan {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/63/");
}

// 55. Silo
.silo {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/70/");
}

// 56. Shrinking
.shrinking {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/78/");
}

// 57. Shamless - Nicht ganz nüchtern
.shamless {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/76/");
}

// 58. Greys Anothomy
.greys-anothomy {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/72/");
}

// 59. The Walking Dead
.twd {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/59/");
}

// 60. The Walking Dead: Dead City
.twd_dc {
  background-repeat: round;
  background-image: url("https://svenoliver-berger.de/media/71/");
}
