// Meine Blogs
body[data-page-id="89"] {
  .section {
    padding: 0 !important;
    background: none !important;
    border: 0 !important;
  }

  .entryCardList__item {
    background: #fff !important;
  }

  .entryCardList__item__teaser {
    position: static !important;
    max-height: 20em !important;
  }

  .entryCardList__item {
    height: 30em !important;
  }

  .teaserText {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

body[data-page-id="94"] {
	.contentInteraction {
		margin-bottom: 20px;
	}
}

body[data-page-id="97"] {
	.spoilerBox {
		background-color: var(--wcfContentBackground) !important;
		
		.quoteBox {
			margin-top: 10px !important;
			background: #fff !important;
			.quoteBoxIcon, .quoteBoxTitle {
				display: none;
			}
	
	 		td {
				border: 0 !important;
			}
		}
	}
}