.test {
  background-color: adjust-color(
    $color: #000000,
    $red: 1,
    $green: 2,
    $blue: 3,
    $hue: 0,
    $saturation: 0%,
    $lightness: 0%,
    $alpha: 1
  );
}

.test2 {
  font-weight: bold !important;
}

#test {
  padding: 100px !important;
}

#test2 {
  border: 3px solid #000000 !important;
}

.fix {
  content: "fix";
}
